# Основы Pandas

## Загрузка данных

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('ds_salaries_mod.csv')

Наши задачи на этом уроке:

- обзор данных;
- предобработка данных;
- анализ, проверка гипотез.

## Обзор данных

In [ ]:
df

EN MI SE EX

In [ ]:
df.head(10)

In [ ]:
df.tail(3)

In [ ]:
df.sample(5, random_state=177013)

In [ ]:
df.sample(frac=0.001)

In [ ]:
df.info()

## Удаление пропусков

In [ ]:
df_clean = df.dropna()

In [ ]:
df_clean.info()

## Проверка на дубликаты

In [ ]:
df.duplicated().sum()

In [ ]:
# df = df.drop_duplicates()

## Индексация

In [ ]:
df['salary_in_usd']

### Классическая

In [ ]:
year_2023 = (df['work_year'] == 2023)

In [ ]:
year_2023

In [ ]:
df[year_2023].tail()

In [ ]:
df[df['work_year'] == 2023].tail()

### Query

In [ ]:
df.query('work_year == 2023').tail()

### .loc() и .iloc()

In [ ]:
df_2022 = df[df['work_year'] == 2022]

In [ ]:
df_2022.head()

In [ ]:
df_2022.iloc[0:1]

In [ ]:
df_2022.loc[0:1]

In [ ]:
df_2022.loc[41:42]

## Простейший анализ

### Значения по количеству

In [ ]:
df['work_year'].value_counts()

### Сортировка столбца по значению

In [ ]:
df_clean['salary_in_usd'].sort_values()

### Основная статистика

In [ ]:
df['salary_in_usd'].describe()

In [ ]:
df[df['work_year'] == 2023]['salary_in_usd'].mean()

In [ ]:
df[df['work_year'] == 2022]['salary_in_usd'].mean()

## Операции над столбцами

In [ ]:
df['company_location'] == df['employee_residence']

In [ ]:
df['same_country'] = (df['company_location'] == df['employee_residence'])

In [ ]:
df['same_country'].value_counts()

In [ ]:
df['employment_type'] + ' ' + df['job_title']

In [ ]:
def categorize(x):
    return 'High' if x > 200000 else 'Normal'

In [ ]:
df['salary_in_usd'].apply(categorize)

In [ ]:
df['salary_range'] = df['salary_in_usd'].apply(categorize)

In [ ]:
df.tail()

## Заполнение пропусков

In [ ]:
df_clean = df.copy()

In [ ]:
df_clean[df_clean['salary_in_usd'].isna()].head()

In [ ]:
df_clean['salary_in_usd'] = df_clean['salary_in_usd'].fillna(df_clean['salary_in_usd'].median())

In [ ]:
df_clean[df['salary_in_usd'].isna()].head()

## Группировка

### Как изменяются зарплаты со временем?

In [ ]:
df.groupby('work_year')['salary_in_usd'].mean()

### Сравним средние зарплаты в разных странах

In [ ]:
sub = df.query('company_location == "RU" or company_location == "US"')

In [ ]:
sub.groupby('company_location')['salary_in_usd'].mean()

In [ ]:
sub.groupby('company_location')['salary_in_usd'].agg(['count', 'mean'])

In [ ]:
df.groupby('experience_level')['salary_in_usd'].agg(['count', 'mean', 'median'])

### Зарплаты по профессиям

In [ ]:
df['job_title'].value_counts()

In [ ]:
df[df['job_title'].str.contains('Scientist')]['job_title'].value_counts()

In [ ]:
df['job_title'].value_counts().head(4)

In [ ]:
(df.groupby('job_title')['salary_in_usd']
     .agg(['count', 'mean', 'median'])
     .sort_values(by='count', ascending=False)
     .head(4))

In [ ]:
df.groupby('remote_ratio')['salary_in_usd'].agg(['count', 'mean', 'median'])

In [ ]:
(df.query('(company_location == "US" or company_location == "CA") and employment_type == "FT"')
          .groupby(['company_location', 'experience_level'])['salary_in_usd']
          .agg(['count', 'mean', 'median']))

In [ ]:
df.groupby('remote_ratio')['salary_in_usd'].agg(['count', 'mean', 'median'])

# Домашнее задание

## Easy

Изучите распределение размеров компаний (`company_size`) с помощью метода `.value_counts()`. Опишите своими словами, что вы увидели.

In [ ]:
# Ваш код ниже:

Вывод:

## Normal

Сделайте выборку за 2023 год. Постройте по ней сводную таблицу, сгруппированную по размеру компании-работодателя (`company_size`), со средней и медианной зарплатой в долларах. Не забывайте также указать количество.

In [ ]:
# Ваш код ниже:

Напишите краткий вывод из полученной таблицы:

Вывод:

Аналогично исследуйте 2022 год. Есть ли отличия?

In [ ]:
# Ваш код ниже:

Вывод:

## Hard

Для начала попробуйте восстановить пропущенные значения `salary_in_usd`.

<details>
<summary>Подсказка (нажмите, чтобы посмотреть):</summary>
Один из способов:
    <ul><li>создайте дополнительный столбец с "курсом доллара" для каждого наблюдения;</li>
    <li>проверьте, менялся ли курс каждой валюты в течение года;</li>
    <li>по возможности примените этот курс для расчета пропущенного значения;</li>
    <li>если остались пропуски, которые нельзя заполнить, удалите их.</li></ul>    
</details>

Оставляйте комментарии в коде своего решения.

In [ ]:
# Ваш код:

Дополнительно: попробуйте свести данные в столбце `job_title` к 4 основным профессиям (Data Scientist, Data Analyst, Data Engineer, ML Engineer), где это возможно.

In [ ]:
# Ваш код:

Сделайте выборку за 2023 год. Постройте по ней сводную таблицу, сгруппированную по профессии (`job_title`), со средней и медианной зарплатой в долларах. Не забывайте также указать количество. (Если у вас не получилось привести в порядок столбец `job_title`, выведите только 4 самых распространенных профессии.)

In [ ]:
# Ваш код:

Теперь давайте получше категоризируем зарплаты. Изучите самостоятельно документацию к функциям pandas [cut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html) и [qcut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html). Используйте их, чтобы разбить зарплаты на три или больше категорий (например: `Low`, `Medium`, `High`) и запишите их в столбец `salary_range`.

Сделайте сводную таблицу по профессиям за 2023 год, где будут выведены:
- число работников в профессии;
- самая часто встречающаяся категория зарплаты.

<details>
<summary>Подсказка (нажмите, чтобы посмотреть):</summary>
<code>lambda x : pd.Series.mode(x)</code>
</details>

In [ ]:
# Ваш код:

Проверьте себя: совпадают ли категории с реальными цифрами?